[mail]
address=<email.addr>
password=<email.pass-sorry-clear-text-for-now>
destination=<destination.email.addr>
[email_overrides]
tag1=<another_destintaion.email.addr>,<yet_another_destination.email.addr>
[sources]
<scraper_name1>=<conf_file1>,<conf_file2>
<scraper_name2>=<conf_file3>,<conf_file4>
